<div class="card">
  <h2 class="card-header">Create New Post</h2>
  <form class="card-body" id="new-post-form">
    <input type="hidden" name="post-id" value="{{post.id}}"/>
    <div>
      <input class="form-input" type="text" id="postTitle" maxlength="60" placeholder="Title"/>
    </div>
    <div>
      <textarea class="form-textarea form-input" id="postBody" placeholder="Content"></textarea>
    </div>
 
    <button class="btn btn-primary">CREATE</button>
  </form>
</div>
<script src="/js/new.js"></script>